body{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 65px;
  height: 100%;
  width: 100%;
  font-family:sans-serif;
  font-size: 150%;
}
.name {
  text-align: center;
  font-size: 200%;
  font-family: cursive;
}
.headers {
  font-family: cursive;
  font-size: 175%;
  text-align: center;
}
.leftCol_headers {
  font-size: 100%;
}
#leftcol {
  margin: 2%;
  padding-left: 10px;
  border: 2px dashed blue;
  color:blue;
  font-size: 80%;
}
.me {
  width: 50%;
  height: auto;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#about {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
#links {
  font-style: italic;
  font-weight: bold;
}
.carousel-indicators {
  top:0px;
}
.carousel-inner h3 {
  text-align: center;
}
#projects-carousel .container {
  width: 75%;
}
