body{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-width: 100%;
  font-family:sans-serif;
}
#leftcol {
  margin: 2%;
  padding-left: 10px;
  border: 2px dashed blue;
  font-size: 120%;
  color:blue;
}
#about-carousel .container {
  width: 75%;
}
.me {
  width: 50%;
  height: auto;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#projects {
  text-align: justify;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
}
#about-me {
  text-align: center;
}
#about-carousel {
  font-size: 120%;
  /*color: blue;
  font-family: monospace;*/
}
.carousel-indicators {
  top:-20px;
}
#links {
  font-size: 90%;
  /*font-family: Century gothic;*/
}
.name {
  text-align: center;
  /*color: purple;*/
  font-size: 400%;
  /*font-family: fantasy;*/
  margin-bottom: 3%;
}
.carousel-inner h3 {
  text-align: center;
}
.headers {
  /*font-family:fantasy;*/
  font-size: 200%;
}
.leftCol_headers {
  /*font-family:fantasy;*/
  font-size: 100%;
}
