
.header {
  text-align: center;
  color: purple;
  font-family: fantasy;
}
#leftcol h3 {
  font-family:fantasy;
}
#leftcol {
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 10px;
  border: 2px dashed blue;
  background-color: #cce6ff;
}
#me {
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
}
.em {
  font-style: italic;
}
